* {
    padding: 0;
    margin: 0;
}

header {
    padding: 12px;
    background-color: rgb(26, 26, 26);
    display: flex;
    border-bottom: 6px solid;
    border-color: rgb(14, 14, 14);
    // flex-direction: column;
    h1 {
        font: 24px Lucida Unicode;
        color: whitesmoke;
        width: 22vw;
    }
    div {
        font: 18px Lucida Unicode;
        color: whitesmoke;
        width: 190px;
        text-align: right;
        margin-left: auto;
    }
}

main {

    .controls {
        border-top: 2px solid;
        background-color: rgb(20, 20, 20);
        display: flex;
        height: 41px;
        gap: 5px;

        #miniLog {
            background-color: black;
            padding: 4px;
            font: 16px Arial;
            color: rgb(155, 155, 155);
            height: 50%;
            width: 200px;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: auto;
            margin-right: 1%;
            border-radius: 8px;
            overflow: hidden;
            text-overflow: clip;
            transition: all 0.5s ease;
        }

        button {
            margin-top: auto;
            margin-bottom: auto;
            border: 1px solid;
            padding: 6px;
            border-radius: 8px;
            color: black;
            border-color: rgb(71, 71, 71);
            background-color: rgb(99, 99, 99);
            outline: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        button:first-child {
            margin-left: 12px;
        }
        button:hover {
            background-color: rgb(116, 116, 116);
        }
        
    }

    #path {
        width: 99.68vw;
        height: 21px;
        font-style: italic;
        font-weight: bold;
        color: rgb(34, 34, 34);
    }

    .manager {

        overflow-y: scroll;
        height: 75vh;

        button {
            height: 21px;
            width: 21px;
            margin-top: auto;
            margin-left: auto;
            margin-right: 1.1%;
            margin-bottom: auto;
            border: 1px solid;
            // padding: 6px;
            border-radius: 8px;
            color: black;
            border-color: rgb(71, 71, 71);
            background-color: rgb(99, 99, 99);
            outline: none;
            display: flex;
            img {
                margin: auto;
                height: 100%;
                width: 100%;
            }
        }
        button:hover {
            background-color: rgb(176, 176, 176);
        }

        .slot {
            display: flex;
            border-top: 1px solid;
            height: 21px;
            // padding: 4px;
            font: 18px Lucida Console;
            color: darkslategrey;
            user-select: none;
            background-color: rgb(133, 146, 146);
            border-color: rgba(97, 97, 97, 0.438);
        }
        .slot:nth-child(odd){
            background-color: rgb(188, 196, 196);
            border-color: rgba(97, 97, 97, 0.815);
        }
        .slot:hover {
            background-color: rgb(157, 178, 255);
        }

        .icoBox {

            width: 1.5%;
            height: 90%;

            margin: 1px;

            img {
                height: 100%;
                width: 100%;
            }

        }

    }

}

